Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
.deps/
Makefile
config.log
config.status
marley
marley.o
src/.dirstamp
src/controller.o
src/gui.o
src/statemachine.o
mednafen/po/de.po~
mednafen/po/es.po~
mednafen/po/ru.po~
mednafen/mednafen
mednafen/po/mednafen_marley.pot
mednafen/src/drivers/main.h.gch
mednafen/po/remove-potcdate.sed
mednafen/ar-lib
src/emu.o
src/*.o
dolphin/build/
mupen64plus/Source/audio-sdl/_obj/
mupen64plus/Source/audio-sdl/mupen64plus-audio-sdl.a
mupen64plus/Source/core/_obj/
mupen64plus/Source/core/libmupen64plus.a
mupen64plus/Source/input-sdl/_obj/
mupen64plus/Source/input-sdl/mupen64plus-input-sdl.a
mupen64plus/Source/rsp-hle/_obj/
mupen64plus/Source/rsp-hle/mupen64plus-rsp-hle.a
mupen64plus/Source/ui-console/_obj/
mupen64plus/Source/ui-console/mupen64plus
mupen64plus/Source/video-glide64mk2/_obj/
mupen64plus/Source/video-glide64mk2/mupen64plus-video-glide64mk2.a
mupen64plus/Source/mupen.a
mupen64plus/Source/core/asm_defines/asm_defines_gas.h
mupen64plus/Source/core/asm_defines/asm_defines_nasm.h
mupen64plus/Source/ui-console/mupen64plus.a
ppsspp/build/
assets
save
GSdx_opengl_debug_hw.txt
pcsx2/build/
tests/pcsx2/PCSX2
tests/ppsspp/PPSSPP
tests/mednafen/MEDNAFEN
tests/mupen64plus/MUPEN64PLUS
tests/dolphin/DOLPHIN
*.o
*.a
*.so
ppsspp/ffmpeg/.config
ppsspp/ffmpeg/.version
ppsspp/ffmpeg/config.fate
ppsspp/ffmpeg/config.h
ppsspp/ffmpeg/config.mak
ppsspp/ffmpeg/doc/config.texi
ppsspp/ffmpeg/doc/examples/pc-uninstalled/
ppsspp/ffmpeg/libavcodec/aac_ac3_parser.d
ppsspp/ffmpeg/libavcodec/aac_parser.d
ppsspp/ffmpeg/libavcodec/aacadtsdec.d
ppsspp/ffmpeg/libavcodec/aacdec.d
ppsspp/ffmpeg/libavcodec/aacps_float.d
ppsspp/ffmpeg/libavcodec/aacpsdsp_float.d
ppsspp/ffmpeg/libavcodec/aacsbr.d
ppsspp/ffmpeg/libavcodec/aactab.d
ppsspp/ffmpeg/libavcodec/aandcttab.d
ppsspp/ffmpeg/libavcodec/allcodecs.d
ppsspp/ffmpeg/libavcodec/atrac.d
ppsspp/ffmpeg/libavcodec/atrac3.d
ppsspp/ffmpeg/libavcodec/atrac3plus.d
ppsspp/ffmpeg/libavcodec/atrac3plusdec.d
ppsspp/ffmpeg/libavcodec/atrac3plusdsp.d
ppsspp/ffmpeg/libavcodec/audioconvert.d
ppsspp/ffmpeg/libavcodec/avdct.d
ppsspp/ffmpeg/libavcodec/avfft.d
ppsspp/ffmpeg/libavcodec/avpacket.d
ppsspp/ffmpeg/libavcodec/avpicture.d
ppsspp/ffmpeg/libavcodec/bitstream.d
ppsspp/ffmpeg/libavcodec/bitstream_filter.d
ppsspp/ffmpeg/libavcodec/blockdsp.d
ppsspp/ffmpeg/libavcodec/bswapdsp.d
ppsspp/ffmpeg/libavcodec/cabac.d
ppsspp/ffmpeg/libavcodec/codec_desc.d
ppsspp/ffmpeg/libavcodec/d3d11va.d
ppsspp/ffmpeg/libavcodec/dct.d
ppsspp/ffmpeg/libavcodec/dct32_fixed.d
ppsspp/ffmpeg/libavcodec/dct32_float.d
ppsspp/ffmpeg/libavcodec/dirac.d
ppsspp/ffmpeg/libavcodec/dv_profile.d
ppsspp/ffmpeg/libavcodec/error_resilience.d
ppsspp/ffmpeg/libavcodec/exif.d
ppsspp/ffmpeg/libavcodec/faandct.d
ppsspp/ffmpeg/libavcodec/faanidct.d
ppsspp/ffmpeg/libavcodec/fdctdsp.d
ppsspp/ffmpeg/libavcodec/fft_fixed.d
ppsspp/ffmpeg/libavcodec/fft_fixed_32.d
ppsspp/ffmpeg/libavcodec/fft_float.d
ppsspp/ffmpeg/libavcodec/fft_init_table.d
ppsspp/ffmpeg/libavcodec/ffv1.d
ppsspp/ffmpeg/libavcodec/ffv1enc.d
ppsspp/ffmpeg/libavcodec/flvdec.d
ppsspp/ffmpeg/libavcodec/flvenc.d
ppsspp/ffmpeg/libavcodec/frame_thread_encoder.d
ppsspp/ffmpeg/libavcodec/golomb.d
ppsspp/ffmpeg/libavcodec/h263.d
ppsspp/ffmpeg/libavcodec/h263_parser.d
ppsspp/ffmpeg/libavcodec/h263data.d
ppsspp/ffmpeg/libavcodec/h263dec.d
ppsspp/ffmpeg/libavcodec/h263dsp.d
ppsspp/ffmpeg/libavcodec/h264.d
ppsspp/ffmpeg/libavcodec/h264_cabac.d
ppsspp/ffmpeg/libavcodec/h264_cavlc.d
ppsspp/ffmpeg/libavcodec/h264_direct.d
ppsspp/ffmpeg/libavcodec/h264_loopfilter.d
ppsspp/ffmpeg/libavcodec/h264_mb.d
ppsspp/ffmpeg/libavcodec/h264_parser.d
ppsspp/ffmpeg/libavcodec/h264_picture.d
ppsspp/ffmpeg/libavcodec/h264_ps.d
ppsspp/ffmpeg/libavcodec/h264_refs.d
ppsspp/ffmpeg/libavcodec/h264_sei.d
ppsspp/ffmpeg/libavcodec/h264_slice.d
ppsspp/ffmpeg/libavcodec/h264chroma.d
ppsspp/ffmpeg/libavcodec/h264dsp.d
ppsspp/ffmpeg/libavcodec/h264idct.d
ppsspp/ffmpeg/libavcodec/h264pred.d
ppsspp/ffmpeg/libavcodec/h264qpel.d
ppsspp/ffmpeg/libavcodec/hpeldsp.d
ppsspp/ffmpeg/libavcodec/huffman.d
ppsspp/ffmpeg/libavcodec/huffyuv.d
ppsspp/ffmpeg/libavcodec/huffyuvenc.d
ppsspp/ffmpeg/libavcodec/huffyuvencdsp.d
ppsspp/ffmpeg/libavcodec/idctdsp.d
ppsspp/ffmpeg/libavcodec/imdct15.d
ppsspp/ffmpeg/libavcodec/imgconvert.d
ppsspp/ffmpeg/libavcodec/intelh263dec.d
ppsspp/ffmpeg/libavcodec/ituh263dec.d
ppsspp/ffmpeg/libavcodec/ituh263enc.d
ppsspp/ffmpeg/libavcodec/jfdctfst.d
ppsspp/ffmpeg/libavcodec/jfdctint.d
ppsspp/ffmpeg/libavcodec/jpegtables.d
ppsspp/ffmpeg/libavcodec/jrevdct.d
ppsspp/ffmpeg/libavcodec/kbdwin.d
ppsspp/ffmpeg/libavcodec/latm_parser.d
ppsspp/ffmpeg/libavcodec/libavcodec.pc
ppsspp/ffmpeg/libavcodec/lossless_videodsp.d
ppsspp/ffmpeg/libavcodec/mathtables.d
ppsspp/ffmpeg/libavcodec/mdct_fixed.d
ppsspp/ffmpeg/libavcodec/mdct_fixed_32.d
ppsspp/ffmpeg/libavcodec/mdct_float.d
ppsspp/ffmpeg/libavcodec/me_cmp.d
ppsspp/ffmpeg/libavcodec/mjpegbdec.d
ppsspp/ffmpeg/libavcodec/mjpegdec.d
ppsspp/ffmpeg/libavcodec/motion_est.d
ppsspp/ffmpeg/libavcodec/mpeg12.d
ppsspp/ffmpeg/libavcodec/mpeg12data.d
ppsspp/ffmpeg/libavcodec/mpeg12dec.d
ppsspp/ffmpeg/libavcodec/mpeg4audio.d
ppsspp/ffmpeg/libavcodec/mpeg4video.d
ppsspp/ffmpeg/libavcodec/mpeg4video_parser.d
ppsspp/ffmpeg/libavcodec/mpeg4videodec.d
ppsspp/ffmpeg/libavcodec/mpeg4videoenc.d
ppsspp/ffmpeg/libavcodec/mpeg_er.d
ppsspp/ffmpeg/libavcodec/mpegaudio.d
ppsspp/ffmpeg/libavcodec/mpegaudio_parser.d
ppsspp/ffmpeg/libavcodec/mpegaudiodata.d
ppsspp/ffmpeg/libavcodec/mpegaudiodec_fixed.d
ppsspp/ffmpeg/libavcodec/mpegaudiodecheader.d
ppsspp/ffmpeg/libavcodec/mpegaudiodsp.d
ppsspp/ffmpeg/libavcodec/mpegaudiodsp_data.d
ppsspp/ffmpeg/libavcodec/mpegaudiodsp_fixed.d
ppsspp/ffmpeg/libavcodec/mpegaudiodsp_float.d
ppsspp/ffmpeg/libavcodec/mpegpicture.d
ppsspp/ffmpeg/libavcodec/mpegutils.d
ppsspp/ffmpeg/libavcodec/mpegvideo.d
ppsspp/ffmpeg/libavcodec/mpegvideo_enc.d
ppsspp/ffmpeg/libavcodec/mpegvideo_motion.d
ppsspp/ffmpeg/libavcodec/mpegvideo_parser.d
ppsspp/ffmpeg/libavcodec/mpegvideodata.d
ppsspp/ffmpeg/libavcodec/mpegvideodsp.d
ppsspp/ffmpeg/libavcodec/mpegvideoencdsp.d
ppsspp/ffmpeg/libavcodec/options.d
ppsspp/ffmpeg/libavcodec/parser.d
ppsspp/ffmpeg/libavcodec/pcm.d
ppsspp/ffmpeg/libavcodec/pixblockdsp.d
ppsspp/ffmpeg/libavcodec/profiles.d
ppsspp/ffmpeg/libavcodec/pthread.d
ppsspp/ffmpeg/libavcodec/pthread_frame.d
ppsspp/ffmpeg/libavcodec/pthread_slice.d
ppsspp/ffmpeg/libavcodec/qpeldsp.d
ppsspp/ffmpeg/libavcodec/qsv_api.d
ppsspp/ffmpeg/libavcodec/rangecoder.d
ppsspp/ffmpeg/libavcodec/ratecontrol.d
ppsspp/ffmpeg/libavcodec/raw.d
ppsspp/ffmpeg/libavcodec/rdft.d
ppsspp/ffmpeg/libavcodec/resample.d
ppsspp/ffmpeg/libavcodec/resample2.d
ppsspp/ffmpeg/libavcodec/rl.d
ppsspp/ffmpeg/libavcodec/sbrdsp.d
ppsspp/ffmpeg/libavcodec/simple_idct.d
ppsspp/ffmpeg/libavcodec/sinewin.d
ppsspp/ffmpeg/libavcodec/sinewin_fixed.d
ppsspp/ffmpeg/libavcodec/startcode.d
ppsspp/ffmpeg/libavcodec/tiff_common.d
ppsspp/ffmpeg/libavcodec/utils.d
ppsspp/ffmpeg/libavcodec/videodsp.d
ppsspp/ffmpeg/libavcodec/vorbis_parser.d
ppsspp/ffmpeg/libavcodec/x86/aacpsdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/blockdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/bswapdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/constants.d
ppsspp/ffmpeg/libavcodec/x86/dct_init.d
ppsspp/ffmpeg/libavcodec/x86/fdct.d
ppsspp/ffmpeg/libavcodec/x86/fdctdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/fft_init.d
ppsspp/ffmpeg/libavcodec/x86/h263dsp_init.d
ppsspp/ffmpeg/libavcodec/x86/h264_intrapred_init.d
ppsspp/ffmpeg/libavcodec/x86/h264_qpel.d
ppsspp/ffmpeg/libavcodec/x86/h264chroma_init.d
ppsspp/ffmpeg/libavcodec/x86/h264dsp_init.d
ppsspp/ffmpeg/libavcodec/x86/hpeldsp_init.d
ppsspp/ffmpeg/libavcodec/x86/huffyuvencdsp_mmx.d
ppsspp/ffmpeg/libavcodec/x86/idctdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/lossless_videodsp_init.d
ppsspp/ffmpeg/libavcodec/x86/me_cmp_init.d
ppsspp/ffmpeg/libavcodec/x86/mpegaudiodsp.d
ppsspp/ffmpeg/libavcodec/x86/mpegvideo.d
ppsspp/ffmpeg/libavcodec/x86/mpegvideodsp.d
ppsspp/ffmpeg/libavcodec/x86/mpegvideoenc.d
ppsspp/ffmpeg/libavcodec/x86/mpegvideoencdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/pixblockdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/qpeldsp_init.d
ppsspp/ffmpeg/libavcodec/x86/sbrdsp_init.d
ppsspp/ffmpeg/libavcodec/x86/simple_idct.d
ppsspp/ffmpeg/libavcodec/x86/videodsp_init.d
ppsspp/ffmpeg/libavcodec/x86/xvididct_init.d
ppsspp/ffmpeg/libavcodec/xiph.d
ppsspp/ffmpeg/libavcodec/xvididct.d
ppsspp/ffmpeg/libavformat/aacdec.d
ppsspp/ffmpeg/libavformat/allformats.d
ppsspp/ffmpeg/libavformat/apetag.d
ppsspp/ffmpeg/libavformat/avidec.d
ppsspp/ffmpeg/libavformat/avienc.d
ppsspp/ffmpeg/libavformat/avio.d
ppsspp/ffmpeg/libavformat/aviobuf.d
ppsspp/ffmpeg/libavformat/avlanguage.d
ppsspp/ffmpeg/libavformat/cutils.d
ppsspp/ffmpeg/libavformat/dump.d
ppsspp/ffmpeg/libavformat/file.d
ppsspp/ffmpeg/libavformat/format.d
ppsspp/ffmpeg/libavformat/h263dec.d
ppsspp/ffmpeg/libavformat/h264dec.d
ppsspp/ffmpeg/libavformat/id3v1.d
ppsspp/ffmpeg/libavformat/id3v2.d
ppsspp/ffmpeg/libavformat/img2.d
ppsspp/ffmpeg/libavformat/isom.d
ppsspp/ffmpeg/libavformat/libavformat.pc
ppsspp/ffmpeg/libavformat/m4vdec.d
ppsspp/ffmpeg/libavformat/metadata.d
ppsspp/ffmpeg/libavformat/mp3dec.d
ppsspp/ffmpeg/libavformat/mpeg.d
ppsspp/ffmpeg/libavformat/mpegtsenc.d
ppsspp/ffmpeg/libavformat/mpegvideodec.d
ppsspp/ffmpeg/libavformat/mux.d
ppsspp/ffmpeg/libavformat/oma.d
ppsspp/ffmpeg/libavformat/omadec.d
ppsspp/ffmpeg/libavformat/options.d
ppsspp/ffmpeg/libavformat/os_support.d
ppsspp/ffmpeg/libavformat/pcm.d
ppsspp/ffmpeg/libavformat/pcmdec.d
ppsspp/ffmpeg/libavformat/pmpdec.d
ppsspp/ffmpeg/libavformat/qtpalette.d
ppsspp/ffmpeg/libavformat/rawdec.d
ppsspp/ffmpeg/libavformat/replaygain.d
ppsspp/ffmpeg/libavformat/riff.d
ppsspp/ffmpeg/libavformat/riffdec.d
ppsspp/ffmpeg/libavformat/riffenc.d
ppsspp/ffmpeg/libavformat/sdp.d
ppsspp/ffmpeg/libavformat/url.d
ppsspp/ffmpeg/libavformat/utils.d
ppsspp/ffmpeg/libavformat/wavdec.d
ppsspp/ffmpeg/libavutil/adler32.d
ppsspp/ffmpeg/libavutil/aes.d
ppsspp/ffmpeg/libavutil/aes_ctr.d
ppsspp/ffmpeg/libavutil/audio_fifo.d
ppsspp/ffmpeg/libavutil/avconfig.h
ppsspp/ffmpeg/libavutil/avstring.d
ppsspp/ffmpeg/libavutil/base64.d
ppsspp/ffmpeg/libavutil/blowfish.d
ppsspp/ffmpeg/libavutil/bprint.d
ppsspp/ffmpeg/libavutil/buffer.d
ppsspp/ffmpeg/libavutil/camellia.d
ppsspp/ffmpeg/libavutil/cast5.d
ppsspp/ffmpeg/libavutil/channel_layout.d
ppsspp/ffmpeg/libavutil/color_utils.d
ppsspp/ffmpeg/libavutil/cpu.d
ppsspp/ffmpeg/libavutil/crc.d
ppsspp/ffmpeg/libavutil/des.d
ppsspp/ffmpeg/libavutil/dict.d
ppsspp/ffmpeg/libavutil/display.d
ppsspp/ffmpeg/libavutil/downmix_info.d
ppsspp/ffmpeg/libavutil/error.d
ppsspp/ffmpeg/libavutil/eval.d
ppsspp/ffmpeg/libavutil/ffversion.h
ppsspp/ffmpeg/libavutil/fifo.d
ppsspp/ffmpeg/libavutil/file.d
ppsspp/ffmpeg/libavutil/file_open.d
ppsspp/ffmpeg/libavutil/fixed_dsp.d
ppsspp/ffmpeg/libavutil/float_dsp.d
ppsspp/ffmpeg/libavutil/frame.d
ppsspp/ffmpeg/libavutil/hash.d
ppsspp/ffmpeg/libavutil/hmac.d
ppsspp/ffmpeg/libavutil/imgutils.d
ppsspp/ffmpeg/libavutil/integer.d
ppsspp/ffmpeg/libavutil/intmath.d
ppsspp/ffmpeg/libavutil/lfg.d
ppsspp/ffmpeg/libavutil/libavutil.pc
ppsspp/ffmpeg/libavutil/lls.d
ppsspp/ffmpeg/libavutil/log.d
ppsspp/ffmpeg/libavutil/log2_tab.d
ppsspp/ffmpeg/libavutil/mastering_display_metadata.d
ppsspp/ffmpeg/libavutil/mathematics.d
ppsspp/ffmpeg/libavutil/md5.d
ppsspp/ffmpeg/libavutil/mem.d
ppsspp/ffmpeg/libavutil/murmur3.d
ppsspp/ffmpeg/libavutil/opt.d
ppsspp/ffmpeg/libavutil/parseutils.d
ppsspp/ffmpeg/libavutil/pixdesc.d
ppsspp/ffmpeg/libavutil/pixelutils.d
ppsspp/ffmpeg/libavutil/random_seed.d
ppsspp/ffmpeg/libavutil/rational.d
ppsspp/ffmpeg/libavutil/rc4.d
ppsspp/ffmpeg/libavutil/reverse.d
ppsspp/ffmpeg/libavutil/ripemd.d
ppsspp/ffmpeg/libavutil/samplefmt.d
ppsspp/ffmpeg/libavutil/sha.d
ppsspp/ffmpeg/libavutil/sha512.d
ppsspp/ffmpeg/libavutil/stereo3d.d
ppsspp/ffmpeg/libavutil/tea.d
ppsspp/ffmpeg/libavutil/threadmessage.d
ppsspp/ffmpeg/libavutil/time.d
ppsspp/ffmpeg/libavutil/timecode.d
ppsspp/ffmpeg/libavutil/tree.d
ppsspp/ffmpeg/libavutil/twofish.d
ppsspp/ffmpeg/libavutil/utils.d
ppsspp/ffmpeg/libavutil/x86/cpu.d
ppsspp/ffmpeg/libavutil/x86/fixed_dsp_init.d
ppsspp/ffmpeg/libavutil/x86/float_dsp_init.d
ppsspp/ffmpeg/libavutil/x86/lls_init.d
ppsspp/ffmpeg/libavutil/xga_font_data.d
ppsspp/ffmpeg/libavutil/xtea.d
ppsspp/ffmpeg/libswresample/audioconvert.d
ppsspp/ffmpeg/libswresample/dither.d
ppsspp/ffmpeg/libswresample/libswresample.pc
ppsspp/ffmpeg/libswresample/options.d
ppsspp/ffmpeg/libswresample/rematrix.d
ppsspp/ffmpeg/libswresample/resample.d
ppsspp/ffmpeg/libswresample/resample_dsp.d
ppsspp/ffmpeg/libswresample/swresample.d
ppsspp/ffmpeg/libswresample/swresample_frame.d
ppsspp/ffmpeg/libswresample/x86/audio_convert_init.d
ppsspp/ffmpeg/libswresample/x86/rematrix_init.d
ppsspp/ffmpeg/libswresample/x86/resample_init.d
ppsspp/ffmpeg/libswscale/alphablend.d
ppsspp/ffmpeg/libswscale/gamma.d
ppsspp/ffmpeg/libswscale/hscale.d
ppsspp/ffmpeg/libswscale/hscale_fast_bilinear.d
ppsspp/ffmpeg/libswscale/input.d
ppsspp/ffmpeg/libswscale/libswscale.pc
ppsspp/ffmpeg/libswscale/options.d
ppsspp/ffmpeg/libswscale/output.d
ppsspp/ffmpeg/libswscale/rgb2rgb.d
ppsspp/ffmpeg/libswscale/slice.d
ppsspp/ffmpeg/libswscale/swscale.d
ppsspp/ffmpeg/libswscale/swscale_unscaled.d
ppsspp/ffmpeg/libswscale/utils.d
ppsspp/ffmpeg/libswscale/vscale.d
ppsspp/ffmpeg/libswscale/x86/hscale_fast_bilinear_simd.d
ppsspp/ffmpeg/libswscale/x86/rgb2rgb.d
ppsspp/ffmpeg/libswscale/x86/swscale.d
ppsspp/ffmpeg/libswscale/x86/yuv2rgb.d
ppsspp/ffmpeg/libswscale/yuv2rgb.d
ppsspp/ffmpeg/linux/x86_64/lib/
ppsspp/ffmpeg/libavcodec/vaapi.d
ppsspp/ffmpeg/libavcodec/vdpau.d
resources/.dirstamp
resources/res.cpp
resources/res.h
resources/pcsx2_res.cpp
resources/pcsx2_res.h
resources/pcsx2/
resources/ppsspp_assets.zip
resources/dolphin_data_sys.zip
ppsspp/ffmpeg/linux/x86_64/include/libavutil/ffversion.h
