[Desktop Entry]
Version=0.1.9
Name=marley
GenericName=marley
Comment=emulator bundle
Exec=/usr/bin/marley
Icon=/usr/share/icons/marley.ico
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
