Source: marley
Section: games
Priority: optional
Maintainer: JC <jc.lache@web.de>
Build-Depends: debhelper, 
		cmake,
		chrpath,
		libsdl2-dev,
        libsdl2-image-dev,
        libsdl2-ttf-dev,
        autotools-dev, 
        dh-autoreconf, 
        libasound2-dev [linux-any], 
        libgl1-mesa-dev | libgl-dev,
        libjack-dev, 
        liblzo2-dev (>= 2.04), 
        libmpcdec-dev, 
        libsamplerate0-dev, 
        libsndio-dev,
        libsndfile1-dev | libsndfile-dev, 
        libtrio-dev, 
        libvorbisidec-dev, 
        x11proto-core-dev, 
        zlib1g-dev (>= 1.2.8) | libz-dev,
        dpkg-dev (>= 1.17.17),
        pkg-config,
        lsb-release,
        libao-dev,
        libavcodec-dev,
        libavformat-dev,
        libbluetooth-dev,
        libegl1-mesa-dev,
        libenet-dev (>= 1.3.12),
        libevdev-dev,
        libcurl4-gnutls-dev,
        libgtk2.0-dev,
        libminiupnpc-dev (>= 1.8),
        libopenal-dev,
        libpolarssl-dev (>= 1.3.8) | libmbedtls-dev,
        libpulse-dev,
        libreadline-dev,
        libsfml-dev (>= 2.1),
        libsoil-dev,
        libswscale-dev,
        libudev-dev,
        libusb-1.0-0-dev (>= 1.0.19),
        libwxbase3.0-dev (>= 3.0.1),
        libwxgtk3.0-dev (>= 3.0.1),
        libxext-dev,
        libxrandr-dev,
        portaudio19-dev,
        qtbase5-private-dev,
        libsamplerate0-dev,
        libfreetype6-dev,
        libglu1-mesa-dev,
        nasm,
        libboost-filesystem-dev,
        libboost-system-dev
Standards-Version: 4.1.4
Vcs-Git: https://github.com/beaumanvienna/marley

Package: marley
Architecture: any
Depends: ${shlibs:Depends}, 
        ${misc:Depends}, 
        libsdl2-2.0-0, 
        libsdl2-image-2.0-0,
        libsdl2-ttf-2.0-0,
        libasound2 (>= 1.0.16),
        libc6 (>= 2.27),
        libgcc1 (>= 1:3.4),
        libgl1,
        libjack0,
        liblzo2-2,
        libmpcdec6,
        libsndfile1,
        libstdc++6 (>= 6),
        libvorbisidec1,
        zlib1g (>= 1:1.1.4),
        libtrio2,
        libglx0,
        libegl1,
        libopengl0,
        libqt5core5a (>= 5.9.0~beta),
        libqt5gui5 (>= 5.3.0),
        libqt5widgets5 (>= 5.2.0~alpha1),
        libsndio6.1 (>= 1.1.0),
        libao4,
        libavcodec57 (>= 7:3.4.6) | libavcodec-extra57 (>= 7:3.4.6),
        libavformat57 (>= 7:3.4.6),
        libavutil55 (>= 7:3.4.6),
        libbluetooth3 (>= 4.91),
        libcurl3-gnutls,
        libenet7,
        libevdev2 (>= 0.9.1),
        libglib2.0-0,
        libgtk2.0-0,
        libmbedcrypto1 (>= 2.7),
        libmbedtls10 (>= 2.0),
        libmbedx509-0 (>= 2.0),
        libminiupnpc10 (>= 1.9.20140610),
        libopenal1,
        libpng16-16 (>= 1.6.2-1),
        libportaudio2,
        libpulse0 (>= 0.99.1),
        libsfml-network2.4,
        libsfml-system2.4 (>= 2.4.2+dfsg-4~),
        libsoil1,
        libsoundtouch1,
        libswscale4 (>= 7:3.4.6),
        libudev1 (>= 183),
        libusb-1.0-0 (>= 2:1.0.21),
        libwxbase3.0-0v5,
        libwxgtk3.0-0v5,
        libx11-6 (>= 2:1.2.99.901),
        libxi6 (>= 2:1.2.99.4),
        libxrandr2 (>= 2:1.2.99.2),
        libsamplerate0,
        libboost-filesystem1.65.1,
        libboost-system1.65.1,
        libfreetype6,
        libglu1-mesa
Homepage: https://launchpad.net/~beauman
Description: Many Awesome Retro Linux Emulators, Yay!
 This package is a bundle of console emulators plus a launcher front-end.
