#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	echo **************** make -j$(shell cat /proc/cpuinfo | grep -c vendor_id) ****************
	export DEB_BUILD_MAINT_OPTIONS=
	aclocal 
	autoconf
	automake --add-missing --foreign
	./configure --prefix=/usr

override_dh_auto_build:
	make -j$(shell cat /proc/cpuinfo | grep -c vendor_id)
