#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure: 
	chmod 644 pictures/* resources/* 
	find ppsspp/assets -type d -exec chmod 755 {} \;
	find ppsspp/assets -type f -exec chmod 644 {} \;
	find dolphin/Data -type d -exec chmod 755 {} \;
	find dolphin/Data -type f -exec chmod 644 {} \;
	
	
	sed -i 's/AC_DEFINE(\[PICTURES]\,\["pictures\/"])/AC_DEFINE(\[PICTURES]\,\["\/usr\/games\/Marley\/pictures\/"])/g' configure.ac
	sed -i 's/AC_DEFINE(\[RESOURCES]\,\["resources\/"])/AC_DEFINE(\[RESOURCES]\,\["\/usr\/games\/Marley\/resources\/"])/g' configure.ac
	sed -i 's/Ddatadir=..\/Data/Ddatadir=\/usr\/games\/Marley\/dolphin/g' configure.ac
              
	aclocal 
	autoconf
	automake --add-missing --foreign
	./configure
	
override_dh_auto_build:

override_dh_auto_install:

override_dh_fixperms:

	

override_dh_installman:
	
	#man page
	dh_installman resources/marley.6
