#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure: 
	chmod 644 pictures/* resources/* ppsspp/assets/shaders/* ppsspp/assets/flash0/font/* ppsspp/assets/lang/* ppsspp/assets/7z.png ppsspp/assets/knownfuncs.ini ppsspp/assets/langregion.ini ppsspp/assets/rargray.png ppsspp/assets/ui_atlas.zim ppsspp/assets/zip.png ppsspp/assets/compat.ini ppsspp/assets/gamecontrollerdb.txt ppsspp/assets/ppge_atlas.zim ppsspp/assets/Roboto-Condensed.ttf ppsspp/assets/ui_atlas_lowmem.zim ppsspp/assets/unknown.png
	sed -i 's/AC_DEFINE(\[PICTURES]\,\["pictures\/"])/AC_DEFINE(\[PICTURES]\,\["\/usr\/games\/Marley\/pictures\/"])/g' configure.ac
	sed -i 's/AC_DEFINE(\[RESOURCES]\,\["resources\/"])/AC_DEFINE(\[RESOURCES]\,\["\/usr\/games\/Marley\/resources\/"])/g' configure.ac
	aclocal 
	autoconf
	automake --add-missing --foreign
	./configure
	
override_dh_auto_build:

override_dh_auto_install:

override_dh_fixperms:

	

override_dh_installman:
	
	#man page
	dh_installman resources/marley.6
